.main {
    text-align: center;
    background: rgba(138, 138, 138, 0.699);
}
img {
    width: 80%;
}
.menu {
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
a {
    color: black;
}
